.container {
  font-size: var(--app-font-size);
}

.item {
  opacity: 0;
  width: 100%;
  white-space: nowrap;
  backface-visibility: hidden;

  &:first-of-type {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
}

.devider {
  height: 1px;
  background-color: var(--primary-10);
  margin: 4px 0;
}
