.container {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  background-color: transparent;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    .focus {
      box-shadow: 0 0 0 2px var(--hover);
      transition: box-shadow 300ms ease-in-out;
    }
  }

  &:disabled {
    cursor: not-allowed;
    .icon {
      color: var(--disabled);
      fill: var(--disabled);
      stroke: var(--disabled);
      transition: all 300ms ease-in-out;
    }
    .name {
      color: var(--disabled);
      transition: all 300ms ease-in-out;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      .focus {
        box-shadow: 0 0 0 2px var(--hover);
        transition: box-shadow 300ms ease-in-out;
      }
    }
  }
}

.focus {
  width: 100%;
  height: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 999px;
  background-color: var(--card);
  overflow: hidden;
  transition: box-shadow 300ms ease-in-out;

  &:focus,
  &:active {
    outline: none;
  }
}

.icon {
  flex-shrink: 0;
  display: flex;
  width: 20px;
  height: 20px;
  color: var(--accent);
  fill: var(--accent);
  stroke: var(--accent);
  transition: all 300ms ease-in-out;
}

.name {
  flex-grow: 1;
  padding: 0 8px;
  color: var(--primary);
  transition: all 300ms ease-in-out;
}
