.container {
  font-size: var(--app-font-size);
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
}

.item {
  white-space: nowrap;
  backface-visibility: hidden;

  &:first-of-type {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
}

.devider {
  height: 1px;
  background-color: var(--primary-10);
  margin: 4px 0;
}

.index {
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--popup);
}
