.container {
  padding: 16px;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-gap: 16px;
  background-color: var(--popup-20);
}

.heading {
  color: var(--secondary-50);
  text-align: center;
}

.base {
  display: grid;
  grid-template-columns: repeat(4, 36px);
  grid-gap: 16px;
}

.side {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  .label {
    padding-top: 4px;
    font-size: 12px;
    color: var(--secondary-50);
  }
}
