.body {
  width: 100%;
  height: 100%;
  display: grid;

  &.vertical {
    grid-template-rows: 1fr auto;
  }

  &.horizontal {
    grid-template-rows: 1fr auto;
    @media (min-width: 720px) {
      grid-template-rows: auto;
      grid-template-columns: 1fr auto;
    }
  }
}
