.item {
  width: 100%;
  height: 100%;
  font: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    .info {
      background-color: var(--accent-10);
      transition: background-color 300ms ease-in-out;
    }

    .focus {
      box-shadow: 0 0 0 1px var(--accent);
      transition: all 300ms ease-in-out;
    }
  }

  &:disabled {
    cursor: not-allowed;
    .name {
      color: var(--disabled);
      transition: color 300ms ease-in-out;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      .info {
        background-color: var(--accent-10);
        transition: background-color 300ms ease-in-out;
      }

      .focus {
        box-shadow: 0 0 0 1px var(--accent);
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.focus {
  width: 100%;
  height: 100%;
  background-color: var(--card);
  border-radius: 16px;
  box-shadow: 0 0 0 1px var(--border);
  overflow: hidden;
  transition: all 300ms ease-in-out;

  &:focus,
  &:active {
    outline: none;
  }
}

.image {
  // height: ;
  width: 100%;
  background-color: var(--popup-20);
  transition: background-color 300ms ease-in-out;
}

.info {
  padding: 16px;
  display: grid;
  grid-gap: 16px;
  transition: background-color 300ms ease-in-out;
}

.name {
  color: var(--primary);
  text-align: left;
  font-weight: 500;
  transition: color 300ms ease-in-out;
}

.highlight {
  color: var(--secondary);
  font-size: 14px;
  margin: 0;
  padding-left: 16px;
  text-align: left;
  ::marker {
    color: var(--accent);
  }
  li {
    margin-bottom: 8px;
  }
}
